body{
    margin: 30px;
    padding: 30px;
    background-color: antiquewhite;
}

#card {
    margin: 10px;
    border:solid rgb(255, 220, 255);
    border: 5px;
}

.text-danger {
    background-color: rgb(253, 210, 194);
    width: 20%;
}
